.btn-transparent {
  border: 2px solid $color-white;
  transition: all .3s;

  &:hover {
    border-color: $color-light-red;
    color: $color-light-red;
  }

  &:active {
    color: $color-white;
    background-color: $color-dark-red;
    border-color: $color-dark-red;
  }
}