.button-form {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: $color-white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $color-light-red;
  padding: 19px 20px;
  transition: all .3s;

  &:hover {
    background-color: $color-dark-red;
  }

  &:active {
    background-color: $color-light-red;
  }
}