.button-form {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ec7979;
  padding: 19px 20px;
  transition: all .3s;

  &:hover {
    background-color: #ab4949;
  }

  &:active {
    background-color: #ec7979;
  }
}