.customers {
  @include padding-section;

  &__subtitle {
    margin-bottom: 80px;
  }

  &__row {
    display: flex;
    gap: 30px;
  }

  &__col-content {
    background-color: #E2E2E2;
    border-radius: 10px;
    margin-bottom: 66px;
    position: relative;

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 30px solid #E2E2E2;
      position: absolute;
      bottom: -20px;
      left: 70px;
    }
  }
}

.content {
  &__text {
    text-align: center;
    padding: 38px 20px;
  }
}

.user {
  &__col {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__avatar {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
}

// =======================================================
@media (max-width: 1024px) {
  .user {
    &__info-name {
      font-size: 18px;
    }

    &__info-profession {
      .content__text {
        font-size: 14px;
      }
    }
  }
}


@media (max-width: 992px) {
  .customers {
    &__row {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 768px) {
  .customers {
    padding: 60px 0;

    &__row {
      gap: 20px;
    }
  }
}

@media (max-width: 576px) {
  .user {

    &__info-profession,
    &__info-name {
      font-size: 14px;
    }
  }
}