.design {
  background-image: url('../images/design-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-black, 0.5);
  }

  &__inner {
    @include padding-section;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  &__title {
    color: $color-white;

    &::after {
      content: '';
      background-color: $color-white;
    }
  }

  &__subtitle {
    color: $color-white;
    margin-bottom: 73px;
  }

  &__btn {
    padding: 17px 139px;
  }
}


// ========================================================

@media (max-width: 1024px) {
  .design {
    &__btn {
      padding: 17px 139px;
    }
  }
}

@media (max-width: 992px) {
  .design {
    &__inner {
      padding: 60px 0;
    }
  }
}

@media (max-width: 576px) {
  .design {
    &__subtitle {
      margin-bottom: 50px;
    }

    &__btn {
      padding: 17px 98px;
    }
  }
}