.footer {
  background-color: $color-black;
  padding: 35px 0 27px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__copy {
    margin-top: 28px;
    color: $color-white;
  }
}

@media (max-width: 360px) {
  .footer {
    &__copy {
      font-size: 14px;
    }
  }
}