.intro {
  background-image: url('../images/intro-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color-black, 0.5);
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 75px);
  }

  &__logo-large {
    margin-bottom: 50px;
  }

  &__title {
    max-width: 670px;
    font-weight: 500;
    font-size: 48px;
    color: $color-white;
    position: relative;
    padding-bottom: 55px;

    &::after {
      content: '';
      width: 170px;
      height: 1px;
      background-color: $color-white;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__lead {
    max-width: 270px;
    color: $color-white;
    margin: 42px 0;
  }

  &__form {
    font-family: 'Open Sans', sans-serif;
    background-color: $color-white;
    border-radius: 10px;
    padding-top: 35px;
    flex-basis: 470px;
  }

  &__form-title {
    font-weight: 700;
    font-size: 24px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 45px;

    span {
      color: $color-light-red;
      text-transform: uppercase;
    }
  }
}

.form-top {
  padding: 0 50px;

  &__button {
    border-radius: 0px 0px 10px 10px;
    margin-top: 42px;
    width: 100%;
  }
}

.form-input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 16px;
  margin-bottom: 33px;

  &::placeholder {
    font-family: inherit;
    font-weight: 400;
    color: #bdbdbd;
    font-size: 14px;
  }
}

// =================================================
@media (max-width: 1024px) {

  .intro {
    &__title {
      font-size: 36px;
      max-width: 460px;
      padding-bottom: 41px;
    }

    &__lead {
      margin: 31px 0;
    }
  }

  .form-top {
    &__button {
      margin-top: 18px;
    }
  }
}

@media (max-width: 768px) {
  .intro {
    &__inner {
      flex-wrap: wrap;
    }

    &__content {
      text-align: center;
      margin-top: 85px;
    }

    &__title::after {
      left: 50%;
      transform: translateX(-50%);
    }

    &__lead {
      max-width: 100%;
    }

    &__logo-large {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .intro {
    &__form {
      margin-bottom: 50px;
    }
  }
}