.media {
  background-color: #F8EFEF;

  &__inner {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  &__lead {
    max-width: 470px;
    color: $color-grey;
  }
}

.social-icon {
  display: flex;
  gap: 30px;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: #ccc;
    transition: all .2s linear;

    &:hover {
      color: $color-light-red;
      transform: scale(1.2);
    }
  }
}

// ==========================================================

@media (max-width: 1024px) {
  .media {
    &__inner {
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;

      .social-icon {
        gap: 20px;
      }
    }
  }

  .social-icon {
    &__img {
      width: 64px;
      height: 64px;
    }
  }
}

@media (max-width: 600px) {
  .social-icon {
    gap: 17px;
  }
}

@media (max-width: 576px) {
  .media {
    &__title {
      font-size: 18px;
    }

    &__lead {
      font-size: 14px;
    }
  }

  .social-icon {
    &__img {
      width: 28px;
      height: 26px;
      object-fit: cover;
    }
  }
}