body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  color: $color-black;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 54px;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    background-color: $color-light-red;
    width: 170px;
    height: 1px;
    transform: translateX(-50%);
  }
}

.subtitle {
  color: $color-grey;
  text-align: center;
  padding-top: 40px;
}

// =================================================================
@media (max-width: 1024px) {
  .title {
    font-size: 24px;
    padding-bottom: 50px;
  }

  .subtitle {
    font-size: 14px;
    padding-top: 32px;
  }
}