// Global variable color
$color-white: #fff;
$color-black: #000;
$color-grey: #86878B;
$color-light-red: #ec7979;
$color-dark-red: #c54949;


// Nullstyle
@import "./reset";

// Base
@import "./scaffold";
@import "./mixins";

// Components
@import "./btn";
@import "./btn-transparent";
@import "./button-form";
@import "./header";
@import "./intro";
@import "./media";
@import "./tabs";
@import "./awesome";
@import "./pricing";
@import "./customers";
@import "./design";
@import "./contact";
@import "./footer";